[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Comment=Listen to music with Spicetify mods enabled
Icon=spotify-launcher
TryExec=spotify-launcher
Exec=/home/ritch/.config/hypr/scripts/spotify-modded.sh %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
